* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  outline: none;
}

html {
  font-size: 62.5%;
}

body {
  color: #fff7ed;
  background-color: #9f774f;
  font-size: 1.6rem;
}
